.first{
    background-color: red;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #2e2e2e;
    justify-content: center;
}
.privacycontainer{
    height: auto;
    background-color: #2e2e2e;
    justify-content: center;
    width: 100vw;
}
.logobox{
    display: flex;
    justify-content: center;
}

.privacybox{
    height: auto;
    width: 60%;
    padding: 10px;
    
    /* background-color: rosybrown; */
}
.privacytitle{
    color: #9370DB;
}
.privacywritings{
    color: white
}
.formbox{
    height: auto;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #9370DB;
}
.coloredfont{
    color: #9370DB
}
.regularfont{
    color: white;
}
.waitlistbutton{
    background-color: #9370DB;
    border-radius: 25px;

    padding-left: 10px;
    padding-right: 10px;
}
.downbutton{
    position: relative;
    right: 20px;
    /* top: 80px; */
    bottom: 290px
}
.experiment{
    position: absolute;
    right: 10px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    align-items: center;
    /* background-color: red; */
}
.title{
    color: #9370DB;
    text-align: center;
    margin: auto;
    height: 20px;
}



.logo{
    height: 200px;
    width: auto;
}