.first{
    background-color: red;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #2e2e2e;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.secondcontainer{
    height: 100vh;
    width: 100vw;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.privacycontainer{
    height: auto;
    background-color: #2e2e2e;
    justify-content: center;
    width: 100vw;
}
.logobox{
    display: flex;
    justify-content: center;
    
}
.buttonbox{
  display: flex;
  justify-content: center;
}




.sectionside{
    flex: 1;
    /* background-color: red; */
    justify-content: center;
    display: flex;
    /* background-color: black; */
    align-items: center;
    
}
.sections{
    display: flex;
    flex: 1;
    flex-direction: row;
}










.privacybox{
    height: auto;
    width: 80%;
    padding: 10px;
    /* margin: 50% */
    
    /* background-color: rosybrown; */
}
.privacytitle{
    color: #9370DB;
}
.privacywritings{
    color: white
}
.formbox{
    height: auto;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-color: black; */
}
.formbox input{
    background-color: darkgray;
    border: 0px ;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: large;
}
.formbox textarea{
    background-color: darkgray;
    border: 0px ;
    padding: 15px;
    font-size: large;
    margin-bottom: 10px;

    border-radius: 20px;
}
.coloredfont{
    color: #9370DB;
    text-align: center;
}
.cezswriting{
    height: 50px;
    margin-right: 5px;
}
.regularfont{
    color: white;
    font-size: x-large;
    /* text-align: center; */
    margin: 10px;
    padding: 10px; 
    background-color: #2e2e2e; 
    width: 70%;
}
.introfont{
    color: white;
    /* font-size: x-large; */
    margin: 10px;
    padding: 10px; 
    background-color: #2e2e2e; 
    /* width: 70%; */
}
.grayregularfont{
    color: white;
    font-size: x-large;
    margin: 10px;
    padding: 10px; 
    background-color: black; 
    width: 70%;
}
.waitlistbutton{
    background-color: #9370DB;
    border-radius: 20px;

    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}
.waitlistbutton h4{
    text-align: center;
}
.downbutton{
    /* position: relative;
    right: 20px; */
    color: #9370DB;
    
    /* top: 80px; */
    /* bottom: 290px */
}
.nextpage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #9370DB;
    text-align: center;
    margin: auto;
    /* height: 20px; */
}



.logo{
    height: 100%;
    width: 100%;
}
.waitlistlogo{
    height: 30%;
    width: auto;
}

.linkword{
    color: #9370DB;
    text-decoration: underline;
}