.container {
  width: 100vw;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  overflow-y: auto;
}
.description {
  color: white;
  text-align: left;
  margin: auto;
  font-weight: 400;
  width: 50%;
}
.screenShot {
  height: 370px;
  width: 170px;
  align-self: center;
  border-radius: 10px;
  border: 2px solid #262626;
}
.ssContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.helpContainer {
  height: 100vh;
  width: 100vw;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.privacybox {
  height: auto;
  width: 80%;
  align-self: center;
  padding: 10px;
}
.privacybox h1 {
  color: "white";
}

.privacywritings {
  color: white;
}

.coloredfont {
  color: #9370db;
  text-align: center;
  font-weight: 400;
}

.title {
  color: white;
  text-align: center;
  font-weight: 400;
}

.logo {
  margin-top: 20px;
  align-self: center;
  height: 90px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: larger;
  }
  .description {
    width: 90%;
  }
  .screenShot {
    height: 320px;
    width: 130px;
  }
  .ssContainer {
    width: 90%;
  }
}
